.div-padre {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  background-color: #333;
  border-radius: 8px;
}

.div-padre > div {
  flex: 1 1 calc(25% - 32px);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.div-padre img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}


@media (max-width: 1024px) {
  .div-padre > div {
    flex: 1 1 calc(33.33% - 32px);
  }
}


@media (max-width: 768px) {
  .div-padre > div {
    flex: 1 1 calc(50% - 32px); 
  }
}


@media (max-width: 480px) {
  .div-padre > div {
    flex: 1 1 100%; 
  }
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Espacio entre los elementos */
}

.quantity-controls button {
  background-color: #007BFF; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 8px 12px; /* Espaciado interno */
  cursor: pointer; /* Cambiar cursor al pasar el mouse */
  margin: 0 5px; /* Espacio entre botones */
  font-size: 16px; /* Tamaño de la fuente */
}

.quantity-controls button:hover {
  background-color: #0056b3;}

button {
  background-color: #61da61; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-top: 10px;
}

button:hover {
  background-color: #21a339;
}
